

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

#skills img {
    width: 32px; /* Set the width to 50 pixels */
    height: auto; /* Maintain the aspect ratio */
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0;
}
.skills-list img {
    margin-right: 10px;
}

/* img {
    max-width: 100%;
    height: auto;
} */

/* project section styles */
#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#projects img {
    max-width: 100%;
    height: auto;
}

#projects .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 1em);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

button {
    padding: 0.75em 1.5em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Footer links */
.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media li {
    margin: 0 10px;
}

.menu-toggle {
    display: flex;
} 

        /* The Modal (background) */
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            padding-top: 60px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.9); 
        }
    
        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
    
        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
        }
    
        /* Add Animation */
        .modal-content, #caption { 
            animation-name: zoom;
            animation-duration: 0.6s;
        }
    
        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }
    
        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
    
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    nav ul {
        flex-direction: column;
        display: flex;
    }

    /* nav.active ul {
        display: flex;
    } */
  }
